<html>

<head>
    <title>about</title>
</head>

<body style="background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)" )><br><br><br><br>
    <center><h1>About Us</h1>
    <img src="./images/aboutbg1.jpg" width="75%" height="50%"></img>
        <div>
            <h1>
                <p>Helping people discover great places around them.</p>
            </h1>

            <h2>
                <p>Our team gathers information from every restaurant on a regular basis to ensure our data is fresh.
                </p>
                </p>Our vast community of food lovers share their reviews and photos, so you have all that you need to
                make an informed choice</p>
            </h2>
</body>
</center>

</html>