<!DOCTYPE html>
<html>
    <head>
        <title>Booking</title>
        
        <script>
            function booksuccess(){
               
                window.location.href="booksuccess";
            }
        </script>
        
    </head>
     <body style="background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)no-repeat; height:900px ">
       <div>
           <center>
            <h1>RESERVATION</h1>   
            <form>
                    <input type="text" placeholder="Name" style="width:250px; height:50px" required/><br> <br>
                        <input type="number" name="phone"  placeholder="Contact no" style="width:250px; height:50px" required/><br><br>
                   <select name="no_of_persons" style="width:250px; height:50px; " >
                    <option selected disabled>No. Of persons</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select><br><br>
               <input type="email" placeholder="Mail-id" style="width:250px; height:50px" required/><br> <br>
               <input type="submit" placeholder="Book" onclick="booksuccess()" />


           </form></center>
       </div>
</body>
</html>