<!DOCTYPE html>
<html>
    <head>
        <title>Booking</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
      <script src="javascripts/script.js"></script>
      <!-- Optional theme -->
      <!-- <script src="jquery-3.4.0.min.js"></script> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
      </script>
    
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
      </script>
    </head>
     <body style="background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 50%) no-repeat">
        <center>
            <div>
                <h1>***********Your booking has been done successfully*********** </h1>
               
            <img src="./images/book.png" width="65%" height="50%"></img>
        </center>
        
    </body>
</html>