<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
    integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous">
  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
  </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
  </script>
  
   
</head>

<body style="background-image:url('images/banner.jpg');">

  <nav class="navbar navbar-inverse" style="color:black; background:linear-gradient(to top left, #33CDAA 0%, #0098E5 100%)">
    <div class="container-fluid">
      <div class="navbar-header">
        <b><a class="navbar-brand " href="#" style="color:black;font-style:italic; font-size: 20px;">Food Love</a></b>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" style="color:black;">Home</a></li>
        <li><a href="about" style="color:black;">About us</a></li>
        <li><a href="contact" style="color:black;">Contact us</a></li>

      </ul>
    </div>
  </nav>

  <center>
    <h1 style="color:white">Book table in your favorite Restaurants</h1>
    <div class="w3-content w3-section" style="max-width:650px;">
      <img class="mySlides" src="./images/bg7.jpg" style="width:100%">
      <img class="mySlides" src="./images/bg6.jpg" style="width:100%">
      <img class="mySlides" src="./images/bg3.png" style="width:100%">
      <img class="mySlides" src="./images/bg2.png" style="width:100%">
    </div>
  </center><br>


  <div class=" text-center">
    <div class="img"></div>
    <div class="container pt">
      <div class="jumbotron text-center" style="
    width: 997px;
    margin-left: 12px;
    padding-bottom: 50px;
    padding-top: -26px;
    padding-top: 18px;
    ">
        <center>
          <div class="row mx-auto col-lg-12 mt-5">
            <div class="col-xs-8 pr-0">
              <select id="select_id" class="form-control form-control-lg">
                <option value="Select City" hidden>Select City</option>
                <option value="4">Bengaluru</option>
                <option value="3">Mumbai</option>
                <option value="1">Delhi</option>
                <option value="6">Hyderabad</option>
                <option value="5">Pune</option>
                <option value="2">Kolkata</option>
                <option value="7">Chennai</option>
                <option value="8">Lucknow</option>
                <option value="9">Kochi</option>
                <option value="10">Jaipur</option>
                <option value="11">Ahmedabad</option>
                <option value="12">chandigarh</option>
                <option value="13">Goa</option>
              </select>
            </div>
            <button id="getMessage" class="btn1 col-xs-2">Search</button>
          </div>
        </center>
      </div>
    </div>

    <div class="message col-md-12"></div>
    <div class="container">
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>