<html>
   <head>
       <script src="jquery.min.js"></script>
       <link rel="stylesheet" href="style1.css">
       <link rel="stylesheet" href="style2.css">
       </head>
   <body style="background-color: cadetblue">
<br>
<div style="width: 80%;
margin-left: 10%;">
<div>
 <div class = "message"></div>
</div>
</div>
 <script>
       $(document).ready(function() {
var url_string = window.location.href    
var nxtpge = new URL(url_string);
var drop = nxtpage.searchParams.get("drop");
// var city = url.searchParams.get("city");
// var valueDropdown = $('#select_id').val();
var settings = {
"async": true,
"crossDomain": true,
"url": "https://developers.zomato.com/api/v2.1/search?entity_id=" + drop + "&entity_type=city&count=100",
"method": "GET",
"headers": {
"user-key": "fb45167d1e80110706827f9248b9270c",
'Content-Type': 'application/x-www-form-urlencoded'
}
}

$.getJSON(settings, function(data) {

data = data.restaurants;
var html = "";

$.each(data, function(index, value) {

var x = data[index];
$.each(x, function(index, value) {
var location = x.restaurant.location;
var userRating = x.restaurant.user_rating;
html += "<div class='data img-rounded'>";
html += "<div class='rating'>";

html += "<span title='" + userRating.rating_text + "'><p style='color:white;background-color:#" + userRating.rating_color + ";border-radius:4px;border:none;padding:2px 10px 2px 10px;text-align: center;text-decoration:none;display:inline-block;font-size:16px;float:right;'><strong>" + userRating.aggregate_rating + "</strong></p></span><br>";
html += "  <strong class='text-info'>" + userRating.votes + " votes</strong>";
html += "</div>";
html += "<img class='resimg img-rounded' src=" + value.thumb + " alt='Restaurant Image' height='185' width='185'>";
html += "<a href='table.html' class='action_link'><h2 style='color:red;'><strong>" + value.name + "</strong></h2></a>";
html += "  <strong class='text-primary'>" + location.locality + "</strong><br>";
html += "  <h6 style='color:grey;'><strong>" + location.address + "</strong></h6><hr>";
html += "  <strong>CUISINES</strong>: " + value.cuisines + "<br>";
html += "  <strong>COST FOR TWO</strong>: " + value.currency + value.average_cost_for_two + "<br>";
html += "</div><br>";
});
});

$(".message").html(html);
});
// $("#select_id").change(function() {
// select();
// });
});
   </script>
   </body>
   </html>