/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 1;
  color: #fff;
  background-image: url("banner.jpg");
  ;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.jumbotron h2 {
  margin-top: 0;
}

.navbar {
  background: linear-gradient(to top left, #33CDAA 0%, #0098E5 100%);
}

.jumbotron {
  margin-top: 0;
  background: linear-gradient(to top left, #33CDAA 0%, #0098E5 100%);
  position: relative;
  padding-top: 10px;
  padding-bottom: 45px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 8px;
}


@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.text-color {
  color: white;
}

.pt {
  padding-top: 75px;
}

.logo {
  width: 150px;
  height: 150px;
}

.data {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F5F5F5;
}

a.action_link {
  text-decoration: none;
}

.resimg {
  float: left;
  margin-right: 15px;
}


.horizontal-center-row {
  display: flex;
  justify-content: center;
}

.rating {
  float: right;
  margin-right: 15px;
}

.btn1 {
  color: #fff;
  background-color: #825f2a;
  border-color: #333;
  width: 250px;
  height: 35px;
}
